:root {
	--lightblack: #1b1b1b;
	--gold: #ffd700;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	height: 100vh;
	display: grid;
	grid-template-columns: 1fr 800px 1fr;
	align-items: center;
	background-color: var(--lightblack);
}

.grid-container {
	width: 800px;
	height: 800px;
	border: 1px solid var(--gold);
	grid-column-start: 2;
	align-self: center;
}

.commands {
	display: grid;
	justify-items: center;
	align-items: center;
	grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	width: 200px;
	height: 800px;
	border: 1px solid var(--gold);
	grid-row-start: 1;
	margin-left: 200px;
	color: white;
}